<font color = red size = 5>立此为证</font>

             语文	数学	Python  
        
张三	期中	  50   132	 10  


      期末   117	 22	   9  

李四	期中	  76   113	 50  
 
     期末	    8	23	  19  

活齐  期中	   2  86    70  

      期末    148  50  141

# pandas数据处理

## 1、删除重复元素

使用duplicated()函数检测重复的行，返回元素为布尔类型的Series对象，每个元素对应一行，如果该行不是第一次出现，则元素为True

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
# color 0 :red；1：green；2：blue
df = DataFrame({'color':np.random.randint(0,3,size = 300),'num':np.random.randint(0,5,size = 300)})
df

     color  num
0        2    4
1        0    0
2        2    4
3        2    1
4        2    1
5        2    0
6        2    4
7        1    0
8        1    4
9        2    3
10       2    1
11       2    0
12       1    1
13       1    3
14       0    2
15       1    1
16       0    2
17       1    1
18       2    0
19       2    2
20       0    3
21       1    3
22       1    1
23       0    4
24       1    3
25       0    4
26       1    2
27       1    2
28       2    2
29       0    0
..     ...  ...
270      1    0
271      2    0
272      0    4
273      1    4
274      1    1
275      0    2
276      2    3
277      2    2
278      0    1
279      2    2
280      0    3
281      2    0
282      2    3
283      2    0
284      2    1
285      0    0
286      1    1
287      1    2
288      2    2
289      1    1
290      1    0
291      0    0
292      1    4
293      1    3
294      2    2
295      1    2
296      0    1
297      1    3
298      1    4
299      0    4

[300 rows x 2 columns]

In [5]:
df.duplicated().sum()

285

使用drop_duplicates()函数删除重复的行

In [6]:
df.drop_duplicates()

    color  num
0       2    4
1       0    0
3       2    1
5       2    0
7       1    0
8       1    4
9       2    3
12      1    1
13      1    3
14      0    2
19      2    2
20      0    3
23      0    4
26      1    2
35      0    1

In [7]:
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
img = plt.imread('./芝麻.jpg')
img.shape

(662, 1000, 3)

In [10]:
# 这张图片总共有多少个像素呢？
# (红，绿，蓝)
662*1000

662000

In [13]:
# numpy没有去重的方法
img2 = img.reshape(-1,3)
img2

array([[25, 31,  5],
       [25, 31,  5],
       [26, 32,  6],
       ...,
       [41, 61, 24],
       [42, 62, 27],
       [42, 62, 27]], dtype=uint8)

In [14]:
df = DataFrame(img2,columns=['red','green','blue'])
df

        red  green  blue
0        25     31     5
1        25     31     5
2        26     32     6
3        27     33     7
4        29     35     7
5        30     36     8
6        31     37     9
7        31     38     7
8        34     41    10
9        34     41    10
10       34     41     8
11       35     42     9
12       35     42     9
13       35     42     9
14       36     43    10
15       36     43     9
16       35     45    11
17       35     45    11
18       35     45    11
19       35     45    11
20       35     45    11
21       35     45    11
22       35     45    11
23       35     45    11
24       35     45    11
25       35     45    11
26       35     45    11
27       35     45    11
28       35     45    11
29       35     45    11
...     ...    ...   ...
661970   50     71    30
661971   48     69    28
661972   48     69    28
661973   46     67    26
661974   44     65    24
661975   41     62    21
661976   44     64    27
661977   44     64    27
661978   44     64    27
661979   44     64    27
661980   44     64    27
661981   44     64    27
661982   44     64    27
661983   44     64    27
661984   47     67    30
661985   47     67    30
661986   47     67    30
661987   48     68    31
661988   48     68    31
661989   48     68    31
661990   48     68    31
661991   48     68    31
661992   46     67    28
661993   45     65    28
661994   44     64    27
661995   42     62    25
661996   42     62    25
661997   41     61    24
661998   42     62    27
661999   42     62    27

[662000 rows x 3 columns]

In [17]:
# 总数据662000
# 非重复的像素，71526个
df.drop_duplicates().shape

(71526, 3)

如果使用pd.concat([df1,df2],axis = 1)生成新的DataFrame，新的df中columns相同，使用duplicate()和drop_duplicates()都会出问题

## 2. 映射

映射的含义：创建一个映射关系列表，把values元素和一个特定的标签或者字符串绑定

需要使用字典：

`map = {
    'label1':'value1',
    'label2':'value2',
    ...
    }
`

包含三种操作：

- replace()函数：替换元素
- 最重要：map()函数：新建一列
- rename()函数：替换索引

In [18]:
df = DataFrame({'color':np.random.randint(0,3,size = 300),'num':np.random.randint(10,30,size = 300)})
df

     color  num
0        0   15
1        2   22
2        2   17
3        2   15
4        0   22
5        0   29
6        0   26
7        0   28
8        2   29
9        0   16
10       2   18
11       0   19
12       0   13
13       0   14
14       1   20
15       0   25
16       2   25
17       2   14
18       1   19
19       2   19
20       1   15
21       1   27
22       2   29
23       2   25
24       1   14
25       2   13
26       2   10
27       1   13
28       1   22
29       2   17
..     ...  ...
270      0   12
271      2   26
272      2   11
273      0   16
274      0   29
275      1   12
276      1   21
277      0   13
278      1   21
279      1   21
280      1   15
281      1   15
282      1   27
283      2   26
284      2   11
285      1   21
286      0   13
287      0   17
288      0   27
289      1   19
290      2   21
291      0   11
292      2   26
293      2   26
294      1   22
295      0   20
296      2   25
297      2   16
298      2   19
299      0   28

[300 rows x 2 columns]

### 1) replace()函数：替换元素

使用replace()函数，对values进行替换操作

首先定义一个字典

In [19]:
m = {0:'red',1:'green',2:'blue'}

调用.replace()

In [20]:
# replace方法，课将DataFrame中所有满足条件的数据，进行替换
df.replace(m)

     color  num
0      red   15
1     blue   22
2     blue   17
3     blue   15
4      red   22
5      red   29
6      red   26
7      red   28
8     blue   29
9      red   16
10    blue   18
11     red   19
12     red   13
13     red   14
14   green   20
15     red   25
16    blue   25
17    blue   14
18   green   19
19    blue   19
20   green   15
21   green   27
22    blue   29
23    blue   25
24   green   14
25    blue   13
26    blue   10
27   green   13
28   green   22
29    blue   17
..     ...  ...
270    red   12
271   blue   26
272   blue   11
273    red   16
274    red   29
275  green   12
276  green   21
277    red   13
278  green   21
279  green   21
280  green   15
281  green   15
282  green   27
283   blue   26
284   blue   11
285  green   21
286    red   13
287    red   17
288    red   27
289  green   19
290   blue   21
291    red   11
292   blue   26
293   blue   26
294  green   22
295    red   20
296   blue   25
297   blue   16
298   blue   19
299    red   28

[300 rows x 2 columns]

In [21]:
df2 = DataFrame({'color':np.random.randint(0,3,size = 300),'num':np.random.randint(0,10,size = 300)})
df2

     color  num
0        1    9
1        2    4
2        2    4
3        0    3
4        1    6
5        2    8
6        2    3
7        2    6
8        1    9
9        1    7
10       1    4
11       1    5
12       0    6
13       1    0
14       1    8
15       0    3
16       0    0
17       0    6
18       2    3
19       0    8
20       0    6
21       2    7
22       2    0
23       0    8
24       0    5
25       2    7
26       2    8
27       2    5
28       0    2
29       0    3
..     ...  ...
270      0    5
271      2    2
272      1    0
273      2    1
274      1    6
275      0    8
276      1    9
277      2    3
278      2    3
279      2    7
280      0    0
281      2    6
282      1    8
283      0    9
284      1    9
285      1    7
286      0    8
287      2    1
288      0    1
289      1    3
290      2    7
291      2    3
292      1    0
293      0    3
294      1    9
295      2    9
296      2    7
297      1    4
298      0    7
299      1    5

[300 rows x 2 columns]

In [22]:
df2.replace(m)

     color    num
0    green      9
1     blue      4
2     blue      4
3      red      3
4    green      6
5     blue      8
6     blue      3
7     blue      6
8    green      9
9    green      7
10   green      4
11   green      5
12     red      6
13   green    red
14   green      8
15     red      3
16     red    red
17     red      6
18    blue      3
19     red      8
20     red      6
21    blue      7
22    blue    red
23     red      8
24     red      5
25    blue      7
26    blue      8
27    blue      5
28     red   blue
29     red      3
..     ...    ...
270    red      5
271   blue   blue
272  green    red
273   blue  green
274  green      6
275    red      8
276  green      9
277   blue      3
278   blue      3
279   blue      7
280    red    red
281   blue      6
282  green      8
283    red      9
284  green      9
285  green      7
286    red      8
287   blue  green
288    red  green
289  green      3
290   blue      7
291   blue      3
292  green    red
293    red      3
294  green      9
295   blue      9
296   blue      7
297  green      4
298    red      7
299  green      5

[300 rows x 2 columns]

replace还经常用来替换NaN元素

In [25]:
# 字典的key类型要一致
m = {0:'red',1:'green',2:'blue',1024:'purple',2048:'cyan'}

In [26]:
# 字典中映射关心，键值对，去DataFrame找数据，找到了就替换，没有找到，也不会报错
df2.replace(m)

     color    num
0    green      9
1     blue      4
2     blue      4
3      red      3
4    green      6
5     blue      8
6     blue      3
7     blue      6
8    green      9
9    green      7
10   green      4
11   green      5
12     red      6
13   green    red
14   green      8
15     red      3
16     red    red
17     red      6
18    blue      3
19     red      8
20     red      6
21    blue      7
22    blue    red
23     red      8
24     red      5
25    blue      7
26    blue      8
27    blue      5
28     red   blue
29     red      3
..     ...    ...
270    red      5
271   blue   blue
272  green    red
273   blue  green
274  green      6
275    red      8
276  green      9
277   blue      3
278   blue      3
279   blue      7
280    red    red
281   blue      6
282  green      8
283    red      9
284  green      9
285  green      7
286    red      8
287   blue  green
288    red  green
289  green      3
290   blue      7
291   blue      3
292  green    red
293    red      3
294  green      9
295   blue      9
296   blue      7
297  green      4
298    red      7
299  green      5

[300 rows x 2 columns]

============================================

练习19：

    假设张三李四的课表里有满分的情况，老师认为是作弊，把所有满分的情况（包括150,300分）都记0分，如何实现？

============================================

### 2) map()函数：新建一列

使用map()函数，由已有的列生成一个新列

适合处理某一单独的列。

仍然是新建一个字典

map()函数中可以使用lambda函数

transform()和map()类似

使用map()函数新建一个新列

In [27]:
df = DataFrame(np.random.randint(0,150,size = (10,3)),columns=['Python','Math','En'],index=list('ABCDEFGHJK'))
df

   Python  Math   En
A     130    34  139
B     142    71  137
C      62     3  110
D      69    73  142
E      48    13   69
F     123    94  122
G      28    76   43
H      90    67   42
J      88    16   14
K     129    71   68

In [28]:
# df['Python']  10 个数据 迭代器
df['Java'] = df['Python'].map(lambda x : 2*x - 100)
df

   Python  Math   En  Java
A     130    34  139   160
B     142    71  137   184
C      62     3  110    24
D      69    73  142    38
E      48    13   69    -4
F     123    94  122   146
G      28    76   43   -44
H      90    67   42    80
J      88    16   14    76
K     129    71   68   158

In [29]:
f = lambda x : x*2 - 100
type(f)

function

In [30]:
def fun(x):
    x*2 - 100
    
type(fun)

function

In [31]:
def convert(x):
    if x >=130:
        return '优秀'
    elif x <130 and x >=100:
        return '良好'
    elif x < 100 and x >=80:
        return '中等'
    elif x < 80 and x >=60:
        return '及格'
    else:
        return '不及格'

In [32]:
df['Level'] = df['Python'].map(convert)
df

   Python  Math   En  Java Level
A     130    34  139   160    优秀
B     142    71  137   184    优秀
C      62     3  110    24    及格
D      69    73  142    38    及格
E      48    13   69    -4   不及格
F     123    94  122   146    良好
G      28    76   43   -44   不及格
H      90    67   42    80    中等
J      88    16   14    76    中等
K     129    71   68   158    良好

In [35]:
# Python 这一列，老师出考题的时候，有一道题出错了，每个人Python加10分

df['Python'] += 10

In [36]:
df

   Python  Math   En  Java Level
A     140    34  139   160    优秀
B     152    71  137   184    优秀
C      72     3  110    24    及格
D      79    73  142    38    及格
E      58    13   69    -4   不及格
F     133    94  122   146    良好
G      38    76   43   -44   不及格
H     100    67   42    80    中等
J      98    16   14    76    中等
K     139    71   68   158    良好

In [37]:
# map 这个方法，可以修改当前的列
df['Python'] = df['Python'].map(lambda x :x + 10)
df

   Python  Math   En  Java Level
A     150    34  139   160    优秀
B     162    71  137   184    优秀
C      82     3  110    24    及格
D      89    73  142    38    及格
E      68    13   69    -4   不及格
F     143    94  122   146    良好
G      48    76   43   -44   不及格
H     110    67   42    80    中等
J     108    16   14    76    中等
K     149    71   68   158    良好

In [38]:
# 分箱，分类
# 葡萄品质0~10 
# 0~4 low
# 5~7 median
# 8~10 high

# 0 ~ 10 信用

# 0~3 low
# 4~ 6 median
# 7~10 high

# 根据这个人手机产生数据
def convert(x):
    if x >=140:
        return 150
    elif x < 140 and x >= 100:
        return 125
    elif x < 100 and x>=60:
        return 80
    else:
        return 0

In [39]:
df['Python'] = df['Python'].map(convert)
df

   Python  Math   En  Java Level
A     150    34  139   160    优秀
B     150    71  137   184    优秀
C      80     3  110    24    及格
D      80    73  142    38    及格
E      80    13   69    -4   不及格
F     150    94  122   146    良好
G       0    76   43   -44   不及格
H     125    67   42    80    中等
J     125    16   14    76    中等
K     150    71   68   158    良好

============================================

练习20：

    新增两列，分别为张三、李四的成绩状态，如果分数低于90，则为"failed"，如果分数高于120，则为"excellent"，其他则为"pass"
    
    【提示】使用函数作为map的参数

============================================

### 3) rename()函数：替换索引

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame(np.random.randint(0,150,size = (4,3)))
df

     0    1    2
0   75   94  103
1   79   72  109
2   94    8  105
3  136  145  126

仍然是新建一个字典

使用rename()函数替换行索引

In [5]:
# axis = 0 行
m = {0:'张三',1:'李四',2:'王五',3:'小刘'}
df.rename(m,axis = 0,inplace=True)

In [8]:
m = {0:'Python',1:'Math',2:'En'}
df.rename(m,axis = 1,inplace=True)
df

    Python  Math   En
张三      75    94  103
李四      79    72  109
王五      94     8  105
小刘     136   145  126

## 3. 异常值检测和过滤

使用describe()函数查看每一列的描述性统计量

In [9]:
df = DataFrame(np.random.randn(10000,3),columns=list('ABC'))
df

             A         B         C
0     1.331470 -0.002873  0.924082
1     0.494474 -1.572268  1.216207
2     0.806280 -1.757883 -0.179381
3    -1.977062  0.466087 -0.021725
4     0.453750 -0.189734 -0.822911
5     0.269706 -0.972915 -0.525243
6     0.383048  0.747631  1.964275
7     1.303026  1.277495 -0.017589
8     0.464624 -0.581104 -1.932306
9     0.602647  0.955691  1.053607
10    0.035960 -0.251534  0.544876
11   -0.988438  0.399170 -0.306408
12   -1.688850  0.656543  0.981261
13    0.162044 -0.686384  0.428774
14    0.688013 -1.010427 -0.396382
15    0.827022  1.457893 -0.247542
16    1.759072  1.131570 -0.222750
17    0.623363 -1.608526  1.457909
18   -0.679930  0.846146  0.416691
19   -1.611030 -0.563644  0.481872
20    1.574450  0.558873  1.614407
21   -0.668506  0.114498  1.599000
22    2.387934  0.226366 -1.533403
23   -0.790177  0.298191  0.848805
24    1.940416  0.151265  0.421486
25    0.160486 -0.819360 -0.898474
26   -0.830727  0.202012  0.555647
27   -0.000678 -0.386218  0.767923
28   -1.535391  1.027693  0.586185
29   -1.095623 -0.627083  0.563062
...        ...       ...       ...
9970  0.279528 -0.728028  0.337036
9971  1.045965 -0.617810  0.672728
9972  0.521061  1.098545 -0.489229
9973  0.889802 -0.116977 -0.152332
9974 -3.204552 -0.361905  0.731507
9975 -0.065569 -0.740793 -1.317085
9976 -0.887791  0.209503  0.446105
9977 -0.822938  0.299250 -0.548331
9978  0.314486  0.162689 -0.029992
9979  0.912717  0.976448  0.372463
9980 -0.324154  0.946942 -0.142448
9981  0.455501 -1.779206 -0.735942
9982 -0.277223  1.638282  1.490063
9983  0.562214  0.571639 -1.203679
9984  0.535675 -0.101611  0.010998
9985 -0.975622 -0.235328  0.749322
9986 -2.089117 -2.161069  0.031066
9987 -0.061316 -0.972042  0.727778
9988  0.421934  0.238705 -0.108174
9989 -0.178338 -0.280864 -0.205944
9990  0.570573  0.435441 -0.234350
9991 -0.626331  0.647313 -1.143066
9992 -0.446689 -0.128428  0.346682
9993  1.340161  0.445257  0.910619
9994 -2.588261 -0.648581  1.573155
9995  0.129320 -0.048930 -0.686798
9996  2.122917  0.355337  0.016136
9997  0.459114 -0.331555 -1.343428
9998  0.366352  1.196867  1.416349
9999  0.377654 -0.008535  0.034953

[10000 rows x 3 columns]

In [11]:
# 过滤条件，大于5倍平均，异常
# 3.5
df.abs().mean()

A    0.789434
B    0.796154
C    0.798406
dtype: float64

In [13]:
cond = df.abs() > 3.5
cond.sum()

A    3
B    7
C    6
dtype: int64

In [17]:
cond.any(axis = 1).sum()

16

In [18]:
df[cond.any(axis = 1)]

             A         B         C
699   3.550838 -0.531228  0.859349
988   0.607438  1.234768 -3.637313
1064  0.392882 -0.950861 -3.829828
1289 -0.077844  3.776181  0.337327
3028 -0.283353  3.871838 -0.862606
3391 -1.325573  3.982051  0.265610
3882  0.640723  0.892777 -4.370934
4690 -3.828368  1.973499 -0.496985
5541  0.119636 -3.630827  0.279503
7509 -0.502592  1.070063 -4.484243
7707 -0.166370 -3.537722  0.432798
7878 -0.166713 -3.636709 -1.308285
8235  3.632283 -0.065026  0.117971
8542  0.546683  0.752273 -3.557666
9284 -0.273917 -3.909005 -0.758734
9290 -0.387473 -0.312959  3.705936

In [21]:
# 满足要求的数据
cond = df.abs() <=3.5
cond = cond.all(axis = 1)

df[cond]

             A         B         C
0     1.331470 -0.002873  0.924082
1     0.494474 -1.572268  1.216207
2     0.806280 -1.757883 -0.179381
3    -1.977062  0.466087 -0.021725
4     0.453750 -0.189734 -0.822911
5     0.269706 -0.972915 -0.525243
6     0.383048  0.747631  1.964275
7     1.303026  1.277495 -0.017589
8     0.464624 -0.581104 -1.932306
9     0.602647  0.955691  1.053607
10    0.035960 -0.251534  0.544876
11   -0.988438  0.399170 -0.306408
12   -1.688850  0.656543  0.981261
13    0.162044 -0.686384  0.428774
14    0.688013 -1.010427 -0.396382
15    0.827022  1.457893 -0.247542
16    1.759072  1.131570 -0.222750
17    0.623363 -1.608526  1.457909
18   -0.679930  0.846146  0.416691
19   -1.611030 -0.563644  0.481872
20    1.574450  0.558873  1.614407
21   -0.668506  0.114498  1.599000
22    2.387934  0.226366 -1.533403
23   -0.790177  0.298191  0.848805
24    1.940416  0.151265  0.421486
25    0.160486 -0.819360 -0.898474
26   -0.830727  0.202012  0.555647
27   -0.000678 -0.386218  0.767923
28   -1.535391  1.027693  0.586185
29   -1.095623 -0.627083  0.563062
...        ...       ...       ...
9970  0.279528 -0.728028  0.337036
9971  1.045965 -0.617810  0.672728
9972  0.521061  1.098545 -0.489229
9973  0.889802 -0.116977 -0.152332
9974 -3.204552 -0.361905  0.731507
9975 -0.065569 -0.740793 -1.317085
9976 -0.887791  0.209503  0.446105
9977 -0.822938  0.299250 -0.548331
9978  0.314486  0.162689 -0.029992
9979  0.912717  0.976448  0.372463
9980 -0.324154  0.946942 -0.142448
9981  0.455501 -1.779206 -0.735942
9982 -0.277223  1.638282  1.490063
9983  0.562214  0.571639 -1.203679
9984  0.535675 -0.101611  0.010998
9985 -0.975622 -0.235328  0.749322
9986 -2.089117 -2.161069  0.031066
9987 -0.061316 -0.972042  0.727778
9988  0.421934  0.238705 -0.108174
9989 -0.178338 -0.280864 -0.205944
9990  0.570573  0.435441 -0.234350
9991 -0.626331  0.647313 -1.143066
9992 -0.446689 -0.128428  0.346682
9993  1.340161  0.445257  0.910619
9994 -2.588261 -0.648581  1.573155
9995  0.129320 -0.048930 -0.686798
9996  2.122917  0.355337  0.016136
9997  0.459114 -0.331555 -1.343428
9998  0.366352  1.196867  1.416349
9999  0.377654 -0.008535  0.034953

[9984 rows x 3 columns]

使用std()函数可以求得DataFrame对象每一列的标准差

根据每一列的标准差，对DataFrame元素进行过滤。

借助any()函数, 测试是否有True，有一个或以上返回True，反之返回False

对每一列应用筛选条件,去除标准差太大的数据

In [22]:
df = DataFrame({'height':np.random.randint(150,200,1000),'weight':np.random.randint(50,90,size = 1000)})
df

     height  weight
0       186      62
1       150      89
2       167      85
3       155      85
4       183      50
5       186      56
6       158      65
7       164      73
8       191      89
9       176      63
10      175      63
11      151      65
12      179      80
13      177      89
14      194      75
15      153      50
16      185      86
17      192      81
18      151      71
19      156      77
20      150      80
21      164      88
22      185      50
23      197      60
24      168      53
25      166      88
26      186      57
27      192      63
28      173      65
29      198      76
..      ...     ...
970     182      77
971     156      77
972     187      77
973     180      83
974     182      81
975     171      62
976     178      53
977     166      50
978     170      81
979     167      67
980     153      76
981     174      60
982     196      70
983     190      75
984     152      63
985     172      75
986     193      50
987     150      85
988     155      66
989     161      56
990     197      56
991     185      66
992     182      64
993     182      87
994     195      67
995     184      79
996     171      81
997     196      68
998     197      73
999     187      85

[1000 rows x 2 columns]

In [23]:
df['weight'][::10] +300

In [24]:
df

     height  weight
0       186     362
1       150      89
2       167      85
3       155      85
4       183      50
5       186      56
6       158      65
7       164      73
8       191      89
9       176      63
10      175     363
11      151      65
12      179      80
13      177      89
14      194      75
15      153      50
16      185      86
17      192      81
18      151      71
19      156      77
20      150     380
21      164      88
22      185      50
23      197      60
24      168      53
25      166      88
26      186      57
27      192      63
28      173      65
29      198      76
..      ...     ...
970     182     377
971     156      77
972     187      77
973     180      83
974     182      81
975     171      62
976     178      53
977     166      50
978     170      81
979     167      67
980     153     376
981     174      60
982     196      70
983     190      75
984     152      63
985     172      75
986     193      50
987     150      85
988     155      66
989     161      56
990     197     356
991     185      66
992     182      64
993     182      87
994     195      67
995     184      79
996     171      81
997     196      68
998     197      73
999     187      85

[1000 rows x 2 columns]

In [27]:
# 体重的异常值，>300公斤

cond = df['weight'] < 300

# 异常值筛选，给定条件（数据不同，条件不一样，根据数据属性来做选择）
df[cond]

     height  weight
1       150      89
2       167      85
3       155      85
4       183      50
5       186      56
6       158      65
7       164      73
8       191      89
9       176      63
11      151      65
12      179      80
13      177      89
14      194      75
15      153      50
16      185      86
17      192      81
18      151      71
19      156      77
21      164      88
22      185      50
23      197      60
24      168      53
25      166      88
26      186      57
27      192      63
28      173      65
29      198      76
31      158      69
32      190      82
33      181      55
..      ...     ...
967     183      85
968     152      74
969     194      77
971     156      77
972     187      77
973     180      83
974     182      81
975     171      62
976     178      53
977     166      50
978     170      81
979     167      67
981     174      60
982     196      70
983     190      75
984     152      63
985     172      75
986     193      50
987     150      85
988     155      66
989     161      56
991     185      66
992     182      64
993     182      87
994     195      67
995     184      79
996     171      81
997     196      68
998     197      73
999     187      85

[900 rows x 2 columns]

删除特定索引df.drop(labels,inplace = True)

============================================

练习21：

    新建一个形状为10000*3的标准正态分布的DataFrame(np.random.randn)，去除掉所有满足以下情况的行：其中任一元素绝对值大于3倍标准差

============================================

## 4. 排序

使用.take()函数排序

可以借助np.random.permutation()函数随机排序

In [31]:
df.take([100,300,210])

     height  weight
100     169     384
300     178     375
210     196     381

In [47]:
index = np.random.permutation(1000)
index
type(index)

numpy.ndarray

In [39]:
df.take(index)

     height  weight
852     184      83
425     186      74
185     179      53
982     196      70
188     163      77
903     167      52
163     151      82
342     160      89
251     197      83
317     179      66
104     182      59
904     171      73
629     164      81
291     184      67
77      183      59
710     195     380
322     193      59
129     153      81
187     160      53
516     181      66
545     154      80
936     179      66
613     180      56
561     170      54
367     181      76
179     178      62
298     163      79
834     164      87
194     183      89
192     178      60
..      ...     ...
113     175      66
390     170     381
632     176      77
830     166     384
393     180      60
263     179      58
489     177      60
570     158     387
518     182      62
22      185      50
672     157      52
95      184      64
462     169      78
418     194      61
946     161      64
860     172     351
208     174      70
950     194     360
573     192      71
81      189      87
512     172      53
137     190      57
116     164      58
161     168      51
90      197     369
457     161      89
422     180      70
154     158      86
955     166      85
605     190      71

[1000 rows x 2 columns]

In [54]:
index = np.arange(1000)
index

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [55]:
np.random.shuffle(index)
index
display(type(index),index)

numpy.ndarray

array([710, 174, 774, 351, 255, 444, 779, 280, 951, 498,  19, 708, 301,
       109, 867, 947, 333, 464, 401, 810, 122, 989,  30, 664, 595, 479,
       802, 642, 537, 360, 909, 747, 389, 981, 601, 412, 338, 666, 402,
       162, 253, 574, 267, 760, 422, 782, 281, 205, 773, 907, 178, 943,
       323, 961, 631, 475, 861, 545, 588, 593, 555, 873, 372, 366, 208,
       562, 340, 998, 489, 986, 299, 527, 552, 284, 164, 813, 706, 661,
       701, 931, 303, 557, 477, 480, 709, 769, 853, 341, 321, 292, 828,
       335, 968, 260, 750, 836, 215, 967, 424, 576,  33, 523, 155,  75,
       462, 517, 738, 886, 111, 118, 637, 328, 528, 718, 801, 778, 670,
       720, 959, 756, 264, 762,  16, 791, 620,   0, 972, 473, 880, 616,
       784, 625,   7, 276, 112, 362, 268, 876, 348,  86,  52, 650, 151,
       568, 369, 844, 780, 298,  82, 905,  42,  46, 311, 170, 427, 520,
       376, 487,  39, 819, 585, 463, 965, 337, 289, 554, 916, 656, 826,
       571, 378, 692, 639, 693, 672, 467, 395, 606, 719, 206, 494, 392,
       432, 614, 329, 236, 859, 414, 879, 522, 921, 233, 724, 500, 715,
       390, 611, 358, 190, 690, 339, 121, 933, 217, 361,  43, 318, 942,
       370, 254, 431, 663, 436, 753, 763, 125, 937, 257, 368, 342,  25,
       231, 757, 470, 434, 893, 540, 275, 829, 251, 581, 712,  93, 852,
       996, 830, 702, 425,  48, 908, 530, 544, 865,  50, 686, 589, 107,
       119, 417, 599, 953, 596, 524,  40, 729, 923, 426, 703,   2, 177,
         9, 353, 679, 437, 291,  44, 929, 249, 471, 649, 224, 675, 831,
        26, 110,  17, 903, 261, 334, 478, 169,  87, 521, 559, 569, 293,
       183, 954, 825, 984, 969, 166, 130, 380, 219, 433, 914, 163, 654,
        64, 678, 644, 141, 561, 279, 939, 250, 290, 346, 531, 300, 175,
       325, 688, 188, 866, 447, 764, 807,  59, 772, 655, 349, 659, 407,
       988, 737, 136, 827, 889, 877, 964,  58, 834, 352, 640, 262, 872,
       814, 776, 161, 758, 525, 977, 506, 735, 496, 906, 196,  23, 958,
       641, 139, 241, 727, 838, 446, 399, 910, 970, 734, 305,  98, 868,
       383, 133, 843, 238, 913, 794, 604, 685, 411, 634, 626, 677, 730,
       117, 213,   3, 204, 182, 173, 765, 878, 505,  83, 759, 665, 371,
       683, 142, 912, 270, 689, 860, 415, 430, 573, 381, 691,  68, 927,
       950, 327, 451, 400, 901, 510, 180, 539, 406, 152, 535, 418,  61,
       924,  57, 482, 229,  96, 682, 771, 817, 460, 394, 186, 742, 356,
       799,  47,  95, 633, 269, 948, 732,  13, 154, 101, 940, 978, 803,
       286, 925, 658, 413, 511, 221, 492, 274, 788, 684, 246, 783, 248,
        63,  60, 622,  29, 619, 546, 172, 452, 895, 295, 660, 556, 322,
       671, 212,  10,  89, 558, 374, 466, 176, 542, 618, 344,   8, 343,
       600,  21, 108, 674,  11, 849, 313,  62, 944, 234, 195, 438, 240,
       976, 375,  69, 144,  72, 191, 743, 941, 541, 823, 202, 218, 960,
        65, 645, 247, 197, 179, 387, 745,  22, 638, 515, 590, 363, 841,
       586, 548, 396, 999, 102, 603, 980, 824, 455, 711, 404, 538, 265,
       502, 237, 423, 512, 483,  54, 113, 821, 820, 332, 266, 583, 150,
       273, 126, 316, 584, 239, 922, 184, 507, 297, 577, 384, 723,   4,
       439, 789, 501, 194, 187, 934, 842, 726, 551, 277, 225,  79, 887,
       128, 160,  36, 632, 443, 485, 490, 189, 917, 781, 504, 792, 379,
       454,  34, 717, 615, 610, 869, 786, 582,  32, 755, 314, 497, 263,
       768, 874, 116, 367, 103, 382, 476, 386, 385, 700, 416, 837, 503,
       612, 761, 131, 518, 594, 330, 572, 597, 956,  80, 405, 315, 746,
       193, 643, 681, 373, 995, 288, 808, 733,  55, 129, 994, 806, 271,
       790, 911, 114, 707, 410, 156, 936, 185, 990, 804, 725, 143, 985,
       456, 495, 966, 713, 243, 508,  28, 201, 222, 728, 971, 930,  45,
       421, 846, 403, 657,  37,  15, 766,  56, 450, 312, 812, 442, 777,
       567, 550, 694, 310, 536, 816, 847, 336, 928, 227,  12, 307, 775,
       157,  41, 840, 331, 391, 364, 651, 884, 647, 209, 377, 203, 296,
       627, 317, 258,  51, 975, 890, 856, 461, 793, 398, 159, 533, 319,
       695, 919, 722, 435, 609, 673, 516,  31, 532, 897,  35, 785, 902,
       192, 488, 668, 158, 888, 607, 863, 123, 441, 822, 563,  85, 850,
       920, 245, 115, 138, 818, 578, 354, 982,  97, 926, 952, 809, 648,
       127, 885, 146, 359,  94, 904, 199, 242, 420, 445, 628, 795, 252,
       211, 652, 514, 149, 529, 949, 833, 749, 900,  67, 428, 256, 705,
       132,   1, 629, 962, 167, 355,  77, 168,  81, 393, 955, 308, 973,
       871, 534, 915, 696, 851, 459, 448, 198, 704, 285, 278, 124, 805,
       798, 716, 302, 963, 862, 653, 397, 815, 739, 997, 570, 468, 519,
        90, 472, 621, 751, 891, 797, 486, 481, 135, 835, 957, 635,  66,
        70, 646, 365,  24, 226, 875, 613, 283, 326, 598, 575, 547, 223,
       509, 214, 811, 171,  14, 932, 623, 449, 740, 553,   5, 881, 896,
       259, 592, 979, 579, 120, 282, 493, 855, 918, 662, 899, 983, 580,
       134, 200, 388,  71, 883,  92, 605,  78, 767, 513, 754, 440,  18,
       309, 165, 148, 993, 857,  76, 699, 465, 608, 800, 987, 272, 602,
       324, 458, 306, 698, 484, 898, 894, 232, 752, 669, 617, 228, 667,
       945, 560, 636, 630, 991, 714,   6, 770, 320, 294, 457, 207, 721,
       474, 992, 892, 429, 587,  20, 845, 287, 864, 624, 491, 882, 697,
       839, 731, 453, 304, 946, 100,  53,  49, 744, 676, 748, 564, 357,
       591, 543, 350, 105, 499, 566,  88, 938, 858, 210, 469, 687, 854,
       137, 147, 153, 409, 796, 935, 832, 974, 347, 140, 419, 848, 736,
       549, 220, 526, 870,  91, 680, 741, 244, 230, 181, 104, 235,  38,
       106, 408,  74, 565,  27,  73, 216,  99,  84, 345, 145, 787])

In [56]:
df.take(index)

     height  weight
710     195     380
174     176      78
774     170      69
351     164      62
255     166      60
444     182      70
779     163      72
280     186     364
951     153      85
498     186      55
19      156      77
708     169      71
301     185      75
109     193      79
867     186      51
947     173      69
333     170      64
464     166      60
401     183      70
810     154     353
122     196      72
989     161      56
30      177     373
664     168      67
595     166      80
479     171      67
802     191      71
642     159      61
537     180      80
360     164     369
..      ...     ...
347     177      69
140     165     375
419     152      87
848     160      81
736     155      69
549     173      53
220     194     358
526     181      61
870     195     351
91      159      79
680     159     382
741     168      80
244     168      56
230     167     364
181     176      58
104     182      59
235     185      66
38      154      85
106     161      65
408     170      52
74      167      68
565     152      51
27      192      63
73      160      76
216     199      59
99      190      57
84      161      78
345     174      60
145     182      70
787     163      64

[1000 rows x 2 columns]

### 随机抽样

当DataFrame规模足够大时，直接使用np.random.randint()函数，就配合take()函数实现随机抽样

In [69]:
df = DataFrame(np.random.randn(10000,3),columns=list('ABC'))
df

             A         B         C
0    -1.113861  0.872459 -1.237440
1     0.651381  1.439284  1.110719
2    -0.553138 -0.160400 -0.152681
3    -1.389325 -0.696312  0.764845
4     0.586720  1.187092  0.483981
5    -1.655547 -0.491016 -1.110922
6     1.366841 -1.192605  0.081310
7    -1.907945  0.049549  1.148600
8    -0.860199  0.635354 -1.418655
9    -0.512811  1.417813  0.109481
10   -0.941031 -0.409521 -0.453785
11   -1.412078  0.160188 -1.518632
12    0.085537 -1.111142 -1.549199
13    2.505885 -0.530479 -0.468352
14   -1.312802  1.156816  0.076151
15   -0.595137  1.813695  0.052219
16    1.252249  1.092233 -1.036746
17    0.038733 -0.034872  0.608398
18    0.065772 -0.752221  0.945639
19    0.489553 -2.156822 -0.694479
20    0.675699 -1.389022 -1.171879
21    0.074421  0.275903 -1.319750
22    0.484755  0.658933 -2.619384
23   -0.777453  0.954614 -0.173556
24   -0.718387  1.201117 -0.344454
25   -0.523168 -1.397265 -0.542291
26    0.104209 -1.706085  1.569403
27   -0.142187 -0.908158 -1.219140
28   -1.196635 -0.393659  0.999947
29   -0.065715  1.006148 -0.798118
...        ...       ...       ...
9970 -0.511649 -0.612715  0.889470
9971  0.508841  0.233515  0.323882
9972 -0.670070 -0.813341  0.017574
9973 -0.226647 -1.255068 -1.188053
9974  0.677908  0.101112 -1.933206
9975  0.150042 -1.561406 -0.890176
9976  0.882306 -0.898550  2.150204
9977 -0.350179  1.444980 -0.297197
9978  0.039569 -1.200257 -0.873213
9979  0.611008  0.195880 -2.031599
9980  3.228157  0.042193  1.752416
9981 -0.978353 -0.071991  0.292481
9982  0.212503 -1.525239 -0.626865
9983 -0.228587 -1.054521  0.615166
9984 -0.659577 -0.274778  0.103481
9985  0.292542  0.189211 -1.997677
9986  0.908848 -0.206774 -0.552373
9987 -0.137771 -0.614396 -0.453500
9988  0.563277 -0.875726  0.559101
9989  0.469842  0.043895 -0.286640
9990 -0.715147  0.292202 -0.079832
9991 -0.948166  0.339995 -2.032809
9992 -1.069196 -0.967312  0.131714
9993  0.016933  0.078645 -0.498494
9994  0.883048  0.127291  0.497146
9995  2.274343 -0.579385  0.044025
9996  0.504094  0.191709 -1.350277
9997  0.208868  0.389577  0.766907
9998 -0.198755 -0.058579 -1.666582
9999  0.273506 -1.125572 -1.588019

[10000 rows x 3 columns]

In [60]:
df.size

30000

In [70]:
while True:
    index = np.random.randint(0,10000,size = 100)
    
    df2 = DataFrame(index)
    
    s = df2.drop_duplicates().size
    
    if s == 100:
        break

In [71]:
index

array([4644, 7191, 3731,  635, 7423, 6217, 3213, 2794, 5440,  785, 1627,
       6662, 8629, 3940, 1224, 3435, 8149, 6070, 7906, 3262, 2898, 3115,
       9131, 9543, 9100, 9787, 4779,   62, 9832, 1820,  436, 1179, 2035,
       2766,  432, 1662, 8388, 1146, 9380, 2862, 6739, 4149, 4119, 3829,
       4751, 2465, 1138, 5144, 3545, 2833, 2298, 6592,  596, 1578, 5546,
       6289, 7322, 3718, 3560, 3414, 8122, 4765, 4869, 2281, 3637, 6109,
        348, 7652, 8136, 8173, 1193, 5970, 5023, 3276, 8591, 9799,  590,
       5618,  840, 2180,  845, 1038, 2330, 8073, 9909, 7138, 2995, 7422,
       6079, 2909, 5300, 8748, 1839, 9142, 8504,  139, 2847, 5525, 1914,
       2144])

In [72]:
df.take(index)

             A         B         C
4644  1.029614 -1.144473 -1.034057
7191 -2.502843 -0.661867  0.674814
3731 -1.543108 -0.369837  0.882630
635  -1.548844  0.263209  0.352128
7423 -0.838614 -1.135719  0.413353
6217 -0.074473 -0.378460 -1.214357
3213  1.121576  0.473631  0.873277
2794  1.538449  0.857901 -1.841485
5440 -1.246662  0.438764 -1.207516
785  -0.035587 -0.391120  2.082372
1627  0.177428  0.421927  1.137641
6662  0.634217  0.161676  0.208506
8629  1.349873  0.084905  0.423743
3940 -0.776009  0.236570 -1.628807
1224 -0.048904  0.769681  1.038585
3435 -0.543211 -0.691014  0.150950
8149  1.031871  0.428764  0.591029
6070 -0.335263 -1.890306  0.279839
7906 -0.853812  0.220566 -0.182682
3262 -0.101310 -1.391847 -0.111299
2898 -0.205821  1.190035 -0.371167
3115 -0.304524 -1.081283 -0.119765
9131  0.054302 -0.248616  0.096353
9543  0.279960 -0.348254 -1.366684
9100 -0.469467  0.193778 -0.293052
9787 -1.393384  0.523794  0.298682
4779  0.253235  0.444431  0.533401
62   -0.619410 -1.687055 -1.278299
9832  0.584689  0.715690 -1.147552
1820 -0.684598 -1.022077 -0.804297
...        ...       ...       ...
1193  0.203080  0.440191  1.475986
5970  0.743691 -1.357066 -2.672465
5023 -2.250218  0.476213 -1.470328
3276 -1.523335  0.747652  0.528652
8591  0.146755  0.000357  0.612691
9799 -0.956389 -1.809569  1.205520
590   1.203242  1.684925  1.195577
5618 -1.590814  0.455637  0.973973
840   1.603707  0.326662  0.408942
2180 -0.659692  1.501583  0.592364
845   1.904055  0.037870  1.845426
1038  0.158992  1.169384 -1.058563
2330  0.119230 -0.238114  0.816569
8073  1.248390  0.179457 -0.889515
9909  0.114467  0.906077  0.072981
7138 -0.266850  0.076737  2.278036
2995  0.445052  0.143042 -1.005965
7422 -0.721596 -0.079868 -0.340367
6079  1.639103 -0.464186  0.643101
2909 -1.291954 -0.307509 -1.871567
5300 -0.438131 -0.466329 -0.718347
8748  0.018107  1.689420  0.358608
1839  1.242354 -0.213466  1.673827
9142  0.909369  0.067241 -0.815367
8504 -0.320745  0.762507  0.341973
139  -0.754913  0.584661  0.599873
2847  0.449945  0.844139 -1.169823
5525 -1.063091 -0.308377 -0.383481
1914 -0.974402  0.279855  1.101518
2144  1.523772  1.327281  1.331153

[100 rows x 3 columns]

In [66]:
df.take(np.random.randint(0,10000,size = 100))

IndexError: indices are out-of-bounds

============================================
练习22：

   假设有张三李四王老五的期中考试成绩ddd2，对着三名同学随机排序

============================================

## 5. 数据聚合【重点】

数据聚合是数据处理的最后一步，通常是要使每一个数组生成一个单一的数值。

数据分类处理：

 - 分组：先把数据分为几组
 - 用函数处理：为不同组的数据应用不同的函数以转换数据
 - 合并：把不同组得到的结果合并起来
 
数据分类处理的核心：
     groupby()函数

In [79]:
df = DataFrame({'item':np.random.randint(0,4,50),
                'level':np.random.randint(0,3,size = 50),
                'price':np.random.randint(1,10,size = 50),
                'sailer':np.random.randint(0,3,size = 50),
                'weight':np.random.randint(50,100,size = 50)})
df

    item  level  price  sailer  weight
0      0      0      4       0      54
1      1      1      1       2      56
2      0      1      1       2      60
3      3      1      3       2      98
4      2      1      3       1      95
5      0      2      4       0      62
6      1      0      5       0      54
7      0      2      3       0      60
8      0      0      2       1      64
9      1      0      7       0      80
10     2      1      2       2      99
11     0      0      4       0      50
12     2      0      6       1      98
13     2      1      6       1      71
14     0      0      9       2      68
15     3      0      2       1      91
16     0      1      9       2      67
17     1      1      2       2      96
18     2      2      3       1      78
19     3      2      3       2      76
20     2      1      7       2      67
21     2      2      3       0      91
22     0      1      4       2      87
23     3      0      1       1      96
24     3      1      9       0      61
25     0      2      6       0      54
26     2      0      9       2      60
27     3      1      5       2      71
28     0      0      2       2      65
29     2      0      4       0      79
30     0      2      6       1      61
31     3      0      3       1      74
32     2      0      6       1      82
33     0      2      5       1      56
34     2      1      2       0      98
35     1      0      5       0      75
36     3      1      6       2      92
37     2      2      2       2      58
38     0      1      8       2      77
39     2      0      7       0      64
40     0      0      4       1      73
41     2      1      4       2      75
42     3      2      9       1      77
43     0      1      1       1      94
44     1      1      7       0      78
45     1      0      2       1      67
46     0      1      4       1      81
47     2      1      2       0      71
48     3      2      8       2      54
49     3      2      6       0      96

In [80]:
# = 赋值，
df['item'] = df['item'].map({0:'萝卜',1:'白菜',2:'西红柿',3:'黄瓜'})
df['level'] = df['level'].map({0:'差',1:'中',2:'优'})
df['sailer'] = df['sailer'].map({0:'张大妈',1:'李大妈',2:'赵大叔'})
df

   item level  price sailer  weight
0    萝卜     差      4    张大妈      54
1    白菜     中      1    赵大叔      56
2    萝卜     中      1    赵大叔      60
3    黄瓜     中      3    赵大叔      98
4   西红柿     中      3    李大妈      95
5    萝卜     优      4    张大妈      62
6    白菜     差      5    张大妈      54
7    萝卜     优      3    张大妈      60
8    萝卜     差      2    李大妈      64
9    白菜     差      7    张大妈      80
10  西红柿     中      2    赵大叔      99
11   萝卜     差      4    张大妈      50
12  西红柿     差      6    李大妈      98
13  西红柿     中      6    李大妈      71
14   萝卜     差      9    赵大叔      68
15   黄瓜     差      2    李大妈      91
16   萝卜     中      9    赵大叔      67
17   白菜     中      2    赵大叔      96
18  西红柿     优      3    李大妈      78
19   黄瓜     优      3    赵大叔      76
20  西红柿     中      7    赵大叔      67
21  西红柿     优      3    张大妈      91
22   萝卜     中      4    赵大叔      87
23   黄瓜     差      1    李大妈      96
24   黄瓜     中      9    张大妈      61
25   萝卜     优      6    张大妈      54
26  西红柿     差      9    赵大叔      60
27   黄瓜     中      5    赵大叔      71
28   萝卜     差      2    赵大叔      65
29  西红柿     差      4    张大妈      79
30   萝卜     优      6    李大妈      61
31   黄瓜     差      3    李大妈      74
32  西红柿     差      6    李大妈      82
33   萝卜     优      5    李大妈      56
34  西红柿     中      2    张大妈      98
35   白菜     差      5    张大妈      75
36   黄瓜     中      6    赵大叔      92
37  西红柿     优      2    赵大叔      58
38   萝卜     中      8    赵大叔      77
39  西红柿     差      7    张大妈      64
40   萝卜     差      4    李大妈      73
41  西红柿     中      4    赵大叔      75
42   黄瓜     优      9    李大妈      77
43   萝卜     中      1    李大妈      94
44   白菜     中      7    张大妈      78
45   白菜     差      2    李大妈      67
46   萝卜     中      4    李大妈      81
47  西红柿     中      2    张大妈      71
48   黄瓜     优      8    赵大叔      54
49   黄瓜     优      6    张大妈      96

In [81]:
def convert(x):
    if x < 60:
        return 50
    elif x>=60 and x < 70:
        return 60
    elif x >=70 and x < 80:
        return 70
    elif x >=80 and x < 90:
        return 80
    else:
        return 100

df['weight'] = df['weight'].map(convert)
df

   item level  price sailer  weight
0    萝卜     差      4    张大妈      50
1    白菜     中      1    赵大叔      50
2    萝卜     中      1    赵大叔      60
3    黄瓜     中      3    赵大叔     100
4   西红柿     中      3    李大妈     100
5    萝卜     优      4    张大妈      60
6    白菜     差      5    张大妈      50
7    萝卜     优      3    张大妈      60
8    萝卜     差      2    李大妈      60
9    白菜     差      7    张大妈      80
10  西红柿     中      2    赵大叔     100
11   萝卜     差      4    张大妈      50
12  西红柿     差      6    李大妈     100
13  西红柿     中      6    李大妈      70
14   萝卜     差      9    赵大叔      60
15   黄瓜     差      2    李大妈     100
16   萝卜     中      9    赵大叔      60
17   白菜     中      2    赵大叔     100
18  西红柿     优      3    李大妈      70
19   黄瓜     优      3    赵大叔      70
20  西红柿     中      7    赵大叔      60
21  西红柿     优      3    张大妈     100
22   萝卜     中      4    赵大叔      80
23   黄瓜     差      1    李大妈     100
24   黄瓜     中      9    张大妈      60
25   萝卜     优      6    张大妈      50
26  西红柿     差      9    赵大叔      60
27   黄瓜     中      5    赵大叔      70
28   萝卜     差      2    赵大叔      60
29  西红柿     差      4    张大妈      70
30   萝卜     优      6    李大妈      60
31   黄瓜     差      3    李大妈      70
32  西红柿     差      6    李大妈      80
33   萝卜     优      5    李大妈      50
34  西红柿     中      2    张大妈     100
35   白菜     差      5    张大妈      70
36   黄瓜     中      6    赵大叔     100
37  西红柿     优      2    赵大叔      50
38   萝卜     中      8    赵大叔      70
39  西红柿     差      7    张大妈      60
40   萝卜     差      4    李大妈      70
41  西红柿     中      4    赵大叔      70
42   黄瓜     优      9    李大妈      70
43   萝卜     中      1    李大妈     100
44   白菜     中      7    张大妈      70
45   白菜     差      2    李大妈      60
46   萝卜     中      4    李大妈      80
47  西红柿     中      2    张大妈      70
48   黄瓜     优      8    赵大叔      50
49   黄瓜     优      6    张大妈     100

In [84]:
df.groupby(['sailer','item'])['price'].max()

sailer  item
张大妈     白菜      7
        萝卜      6
        西红柿     7
        黄瓜      9
李大妈     白菜      2
        萝卜      6
        西红柿     6
        黄瓜      9
赵大叔     白菜      2
        萝卜      9
        西红柿     9
        黄瓜      8
Name: price, dtype: int32

In [85]:
df.groupby(['level','item'])['price','weight'].min()

            price  weight
level item
中     白菜        1      50
      萝卜        1      60
      西红柿       2      60
      黄瓜        3      60
优     萝卜        3      50
      西红柿       2      50
      黄瓜        3      50
差     白菜        2      50
      萝卜        2      50
      西红柿       4      60
      黄瓜        1      70

In [87]:
weight_sum = df.groupby(['level'])['weight'].sum()
weight_sum

level
中    1570
优     790
差    1250
Name: weight, dtype: int64

In [89]:
weight_sum = DataFrame(weight_sum)
weight_sum

       weight
level
中        1570
优         790
差        1250

In [92]:
weight_sum = weight_sum.rename({'weight':'weight_sum'},axis = 1)
weight_sum

       weight_sum
level
中            1570
优             790
差            1250

In [94]:
df2 = df.merge(weight_sum,left_on='level',right_index=True)
df2

   item level  price sailer  weight  weight_sum
0    萝卜     差      4    张大妈      50        1250
6    白菜     差      5    张大妈      50        1250
8    萝卜     差      2    李大妈      60        1250
9    白菜     差      7    张大妈      80        1250
11   萝卜     差      4    张大妈      50        1250
12  西红柿     差      6    李大妈     100        1250
14   萝卜     差      9    赵大叔      60        1250
15   黄瓜     差      2    李大妈     100        1250
23   黄瓜     差      1    李大妈     100        1250
26  西红柿     差      9    赵大叔      60        1250
28   萝卜     差      2    赵大叔      60        1250
29  西红柿     差      4    张大妈      70        1250
31   黄瓜     差      3    李大妈      70        1250
32  西红柿     差      6    李大妈      80        1250
35   白菜     差      5    张大妈      70        1250
39  西红柿     差      7    张大妈      60        1250
40   萝卜     差      4    李大妈      70        1250
45   白菜     差      2    李大妈      60        1250
1    白菜     中      1    赵大叔      50        1570
2    萝卜     中      1    赵大叔      60        1570
3    黄瓜     中      3    赵大叔     100        1570
4   西红柿     中      3    李大妈     100        1570
10  西红柿     中      2    赵大叔     100        1570
13  西红柿     中      6    李大妈      70        1570
16   萝卜     中      9    赵大叔      60        1570
17   白菜     中      2    赵大叔     100        1570
20  西红柿     中      7    赵大叔      60        1570
22   萝卜     中      4    赵大叔      80        1570
24   黄瓜     中      9    张大妈      60        1570
27   黄瓜     中      5    赵大叔      70        1570
34  西红柿     中      2    张大妈     100        1570
36   黄瓜     中      6    赵大叔     100        1570
38   萝卜     中      8    赵大叔      70        1570
41  西红柿     中      4    赵大叔      70        1570
43   萝卜     中      1    李大妈     100        1570
44   白菜     中      7    张大妈      70        1570
46   萝卜     中      4    李大妈      80        1570
47  西红柿     中      2    张大妈      70        1570
5    萝卜     优      4    张大妈      60         790
7    萝卜     优      3    张大妈      60         790
18  西红柿     优      3    李大妈      70         790
19   黄瓜     优      3    赵大叔      70         790
21  西红柿     优      3    张大妈     100         790
25   萝卜     优      6    张大妈      50         790
30   萝卜     优      6    李大妈      60         790
33   萝卜     优      5    李大妈      50         790
37  西红柿     优      2    赵大叔      50         790
42   黄瓜     优      9    李大妈      70         790
48   黄瓜     优      8    赵大叔      50         790
49   黄瓜     优      6    张大妈     100         790

In [96]:
price_mean = df.groupby(['item'])['price'].mean()

price_mean = DataFrame(price_mean)
price_mean

         price
item
白菜    4.142857
萝卜    4.470588
西红柿   4.400000
黄瓜    5.000000

In [98]:
price_mean.columns = ['price_mean']
price_mean

      price_mean
item
白菜      4.142857
萝卜      4.470588
西红柿     4.400000
黄瓜      5.000000

In [99]:
df2.merge(price_mean,left_on='item',right_index=True)

   item level  price sailer  weight  weight_sum  price_mean
0    萝卜     差      4    张大妈      50        1250    4.470588
8    萝卜     差      2    李大妈      60        1250    4.470588
11   萝卜     差      4    张大妈      50        1250    4.470588
14   萝卜     差      9    赵大叔      60        1250    4.470588
28   萝卜     差      2    赵大叔      60        1250    4.470588
40   萝卜     差      4    李大妈      70        1250    4.470588
2    萝卜     中      1    赵大叔      60        1570    4.470588
16   萝卜     中      9    赵大叔      60        1570    4.470588
22   萝卜     中      4    赵大叔      80        1570    4.470588
38   萝卜     中      8    赵大叔      70        1570    4.470588
43   萝卜     中      1    李大妈     100        1570    4.470588
46   萝卜     中      4    李大妈      80        1570    4.470588
5    萝卜     优      4    张大妈      60         790    4.470588
7    萝卜     优      3    张大妈      60         790    4.470588
25   萝卜     优      6    张大妈      50         790    4.470588
30   萝卜     优      6    李大妈      60         790    4.470588
33   萝卜     优      5    李大妈      50         790    4.470588
6    白菜     差      5    张大妈      50        1250    4.142857
9    白菜     差      7    张大妈      80        1250    4.142857
35   白菜     差      5    张大妈      70        1250    4.142857
45   白菜     差      2    李大妈      60        1250    4.142857
1    白菜     中      1    赵大叔      50        1570    4.142857
17   白菜     中      2    赵大叔     100        1570    4.142857
44   白菜     中      7    张大妈      70        1570    4.142857
12  西红柿     差      6    李大妈     100        1250    4.400000
26  西红柿     差      9    赵大叔      60        1250    4.400000
29  西红柿     差      4    张大妈      70        1250    4.400000
32  西红柿     差      6    李大妈      80        1250    4.400000
39  西红柿     差      7    张大妈      60        1250    4.400000
4   西红柿     中      3    李大妈     100        1570    4.400000
10  西红柿     中      2    赵大叔     100        1570    4.400000
13  西红柿     中      6    李大妈      70        1570    4.400000
20  西红柿     中      7    赵大叔      60        1570    4.400000
34  西红柿     中      2    张大妈     100        1570    4.400000
41  西红柿     中      4    赵大叔      70        1570    4.400000
47  西红柿     中      2    张大妈      70        1570    4.400000
18  西红柿     优      3    李大妈      70         790    4.400000
21  西红柿     优      3    张大妈     100         790    4.400000
37  西红柿     优      2    赵大叔      50         790    4.400000
15   黄瓜     差      2    李大妈     100        1250    5.000000
23   黄瓜     差      1    李大妈     100        1250    5.000000
31   黄瓜     差      3    李大妈      70        1250    5.000000
3    黄瓜     中      3    赵大叔     100        1570    5.000000
24   黄瓜     中      9    张大妈      60        1570    5.000000
27   黄瓜     中      5    赵大叔      70        1570    5.000000
36   黄瓜     中      6    赵大叔     100        1570    5.000000
19   黄瓜     优      3    赵大叔      70         790    5.000000
42   黄瓜     优      9    李大妈      70         790    5.000000
48   黄瓜     优      8    赵大叔      50         790    5.000000
49   黄瓜     优      6    张大妈     100         790    5.000000

如果想使用color列索引，计算price1的均值，可以先获取到price1列，然后再调用groupby函数，用参数指定color这一列

使用.groups属性查看各行的分组情况：

============================================

练习23：

   假设菜市场张大妈在卖菜，有以下属性：
   
   菜品(item)：萝卜，白菜，辣椒，冬瓜
   
   颜色(color)：白，青，红
   
   重量(weight)
   
   价格(price)
   
1. 要求以属性作为列索引，新建一个ddd
2. 对ddd进行聚合操作，求出颜色为白色的价格总和
3. 对ddd进行聚合操作，求出萝卜的所有重量(包括白萝卜，胡萝卜，青萝卜）以及平均价格
4. 使用merge合并总重量及平均价格

============================================

## 6.0 高级数据聚合

可以使用pd.merge()函数将聚合操作的计算结果添加到df的每一行  
使用groupby分组后调用加和等函数进行运算，让后最后可以调用add_prefix()，来修改列名

### 可以使用transform和apply实现相同功能

在transform或者apply中传入函数即可

In [105]:
df.groupby(['sailer','item'])['price'].apply(np.mean)

sailer  item
张大妈     白菜      6.000000
        萝卜      4.200000
        西红柿     3.600000
        黄瓜      7.500000
李大妈     白菜      2.000000
        萝卜      3.666667
        西红柿     4.800000
        黄瓜      3.750000
赵大叔     白菜      1.500000
        萝卜      5.500000
        西红柿     4.800000
        黄瓜      5.000000
Name: price, dtype: float64

In [107]:
df

   item level  price sailer  weight
0    萝卜     差      4    张大妈      50
1    白菜     中      1    赵大叔      50
2    萝卜     中      1    赵大叔      60
3    黄瓜     中      3    赵大叔     100
4   西红柿     中      3    李大妈     100
5    萝卜     优      4    张大妈      60
6    白菜     差      5    张大妈      50
7    萝卜     优      3    张大妈      60
8    萝卜     差      2    李大妈      60
9    白菜     差      7    张大妈      80
10  西红柿     中      2    赵大叔     100
11   萝卜     差      4    张大妈      50
12  西红柿     差      6    李大妈     100
13  西红柿     中      6    李大妈      70
14   萝卜     差      9    赵大叔      60
15   黄瓜     差      2    李大妈     100
16   萝卜     中      9    赵大叔      60
17   白菜     中      2    赵大叔     100
18  西红柿     优      3    李大妈      70
19   黄瓜     优      3    赵大叔      70
20  西红柿     中      7    赵大叔      60
21  西红柿     优      3    张大妈     100
22   萝卜     中      4    赵大叔      80
23   黄瓜     差      1    李大妈     100
24   黄瓜     中      9    张大妈      60
25   萝卜     优      6    张大妈      50
26  西红柿     差      9    赵大叔      60
27   黄瓜     中      5    赵大叔      70
28   萝卜     差      2    赵大叔      60
29  西红柿     差      4    张大妈      70
30   萝卜     优      6    李大妈      60
31   黄瓜     差      3    李大妈      70
32  西红柿     差      6    李大妈      80
33   萝卜     优      5    李大妈      50
34  西红柿     中      2    张大妈     100
35   白菜     差      5    张大妈      70
36   黄瓜     中      6    赵大叔     100
37  西红柿     优      2    赵大叔      50
38   萝卜     中      8    赵大叔      70
39  西红柿     差      7    张大妈      60
40   萝卜     差      4    李大妈      70
41  西红柿     中      4    赵大叔      70
42   黄瓜     优      9    李大妈      70
43   萝卜     中      1    李大妈     100
44   白菜     中      7    张大妈      70
45   白菜     差      2    李大妈      60
46   萝卜     中      4    李大妈      80
47  西红柿     中      2    张大妈      70
48   黄瓜     优      8    赵大叔      50
49   黄瓜     优      6    张大妈     100

In [112]:
# apply和transform都可以进行分组计算，计算结果一样
# 表现形式不同，apply多层索引,图形直观，简洁
# transform 一层索引，所有的数据，级联方便
mean_price = df.groupby(['sailer','item'])[['price']].transform(np.mean).add_prefix('mean_')
mean_price

    mean_price
0     4.200000
1     1.500000
2     5.500000
3     5.000000
4     4.800000
5     4.200000
6     6.000000
7     4.200000
8     3.666667
9     6.000000
10    4.800000
11    4.200000
12    4.800000
13    4.800000
14    5.500000
15    3.750000
16    5.500000
17    1.500000
18    4.800000
19    5.000000
20    4.800000
21    3.600000
22    5.500000
23    3.750000
24    7.500000
25    4.200000
26    4.800000
27    5.000000
28    5.500000
29    3.600000
30    3.666667
31    3.750000
32    4.800000
33    3.666667
34    3.600000
35    6.000000
36    5.000000
37    4.800000
38    5.500000
39    3.600000
40    3.666667
41    4.800000
42    3.750000
43    3.666667
44    6.000000
45    2.000000
46    3.666667
47    3.600000
48    5.000000
49    7.500000

In [113]:
pd.concat([df,mean_price],axis = 1)

   item level  price sailer  weight  mean_price
0    萝卜     差      4    张大妈      50    4.200000
1    白菜     中      1    赵大叔      50    1.500000
2    萝卜     中      1    赵大叔      60    5.500000
3    黄瓜     中      3    赵大叔     100    5.000000
4   西红柿     中      3    李大妈     100    4.800000
5    萝卜     优      4    张大妈      60    4.200000
6    白菜     差      5    张大妈      50    6.000000
7    萝卜     优      3    张大妈      60    4.200000
8    萝卜     差      2    李大妈      60    3.666667
9    白菜     差      7    张大妈      80    6.000000
10  西红柿     中      2    赵大叔     100    4.800000
11   萝卜     差      4    张大妈      50    4.200000
12  西红柿     差      6    李大妈     100    4.800000
13  西红柿     中      6    李大妈      70    4.800000
14   萝卜     差      9    赵大叔      60    5.500000
15   黄瓜     差      2    李大妈     100    3.750000
16   萝卜     中      9    赵大叔      60    5.500000
17   白菜     中      2    赵大叔     100    1.500000
18  西红柿     优      3    李大妈      70    4.800000
19   黄瓜     优      3    赵大叔      70    5.000000
20  西红柿     中      7    赵大叔      60    4.800000
21  西红柿     优      3    张大妈     100    3.600000
22   萝卜     中      4    赵大叔      80    5.500000
23   黄瓜     差      1    李大妈     100    3.750000
24   黄瓜     中      9    张大妈      60    7.500000
25   萝卜     优      6    张大妈      50    4.200000
26  西红柿     差      9    赵大叔      60    4.800000
27   黄瓜     中      5    赵大叔      70    5.000000
28   萝卜     差      2    赵大叔      60    5.500000
29  西红柿     差      4    张大妈      70    3.600000
30   萝卜     优      6    李大妈      60    3.666667
31   黄瓜     差      3    李大妈      70    3.750000
32  西红柿     差      6    李大妈      80    4.800000
33   萝卜     优      5    李大妈      50    3.666667
34  西红柿     中      2    张大妈     100    3.600000
35   白菜     差      5    张大妈      70    6.000000
36   黄瓜     中      6    赵大叔     100    5.000000
37  西红柿     优      2    赵大叔      50    4.800000
38   萝卜     中      8    赵大叔      70    5.500000
39  西红柿     差      7    张大妈      60    3.600000
40   萝卜     差      4    李大妈      70    3.666667
41  西红柿     中      4    赵大叔      70    4.800000
42   黄瓜     优      9    李大妈      70    3.750000
43   萝卜     中      1    李大妈     100    3.666667
44   白菜     中      7    张大妈      70    6.000000
45   白菜     差      2    李大妈      60    2.000000
46   萝卜     中      4    李大妈      80    3.666667
47  西红柿     中      2    张大妈      70    3.600000
48   黄瓜     优      8    赵大叔      50    5.000000
49   黄瓜     优      6    张大妈     100    7.500000

### transform()与apply()函数还能传入一个函数或者lambda

`
df = DataFrame({'color':['white','black','white','white','black','black'],
               'status':['up','up','down','down','down','up'],
               'value1':[12.33,14.55,22.34,27.84,23.40,18.33],
               'value2':[11.23,31.80,29.99,31.18,18.25,22.44]})
`

apply的操作对象，也就是传给lambda的参数是整列的数组

============================================

练习24：

   使用transform与apply实现练习23的功能

============================================